CHARACTER CARD SOURCE: {{ url }}

--- NAME ---
{{ char_data.name }}

--- DESCRIPTION ---
{{ char_data.summary }}

--- PERSONALITY ---
{{ char_data.personality }}

--- SCENARIO ---
{{ char_data.scenario }}

--- FIRST MESSAGE ---
{{ char_data.greeting_message }}

--- EXAMPLE MESSAGES ---
{{ char_data.example_messages }}